/* Changes to body */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


/* CSS for navigation bar */

.navigationbar li {
    display: inline-block;
    padding-left: 20px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 20px;
}

.navigationbar ul {
    text-align: right;
}

.navigationbar a {
    color: black;
    text-decoration: none;
}

.button {
    border: none;
    color: white;
    background-color: cadetblue;
    text-align: center;
    padding: 15px 32px;
    border-radius: 10px;
    font-size: 18;
}

#navigationbar-container {
    width: 60%;
    display: flex;
    margin: auto;
}

#logo-nav {
    width: 100%;
    margin: auto;
}

#logo-size {
    width: 20%;
}

#bar-size {
    width: 80%;
}


/* CSS for main section */

.firstblock {
    display: flex;
    align-items: center;
    height: 800px;
    width: 700px;
    padding: 35px 50px 0;
    margin: auto;
    padding: 50px;
}

.firstblock {
    height: 20%;
}

.firstimg {
    width: 400px;
    padding-left: 20px;
    border-radius: 30px;
}


/* Dynamic scaling W37 - inspired */


/* phones */

.col-pho-20 {
    width: 20%;
}

.col-pho-60 {
    width: 60%;
}

.col-pho-100 {
    width: 100%;
}


/* tablets */

@media only screen and (min-width: 600px) {
    .col-tab-10 {
        width: 10%;
    }
    .col-tab-20 {
        width: 20%;
    }
    .col-tab-40 {
        width: 40%;
    }
    .col-tab-60 {
        width: 60%;
    }
    .col-tab-80 {
        width: 80%;
    }
    .col-tab-100 {
        width: 100%;
    }
}


/* large screens */

@media only screen and (min-width: 1000px) {
    .col-10 {
        width: 10%;
    }
    .col-20 {
        width: 20%;
    }
    .col-25 {
        width: 25%;
    }
    .col-40 {
        width: 40%;
    }
    .col-50 {
        width: 50%;
    }
    .col-60 {
        width: 60%;
    }
    .col-75 {
        width: 75%;
    }
    .col-100 {
        width: 100%;
    }
}