/* Changes to body */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* CSS for navigation bar */

.navigationbar li {
    display: inline-block;
    padding-left: 15%;
    margin-top: 4%;
    font-size: 20px;
}

.navigationbar ul {
    text-align: right;
}

#navigationbar-container {
    width: 60%;
    margin: auto;
    border: solid red;
}

#button {}

.firstblock {
    display: flex;
    align-items: center;
    height: 800px;
    width: 700px;
    padding: 35px 50px 0;
    margin: 100px 20% 100px 20%;
}

.firstblock {
    height: 20%;
}

.firstimg {
    width: 400px;
    padding-left: 20px;
    border-radius: 30px;
}